/* Container for the whole app */
.bmi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.bmi-card {
  background: #e7c8c8;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgb(189, 32, 32);
  width: 100%;
  max-width: 350px;
  text-align: center;
}

h1 { color: #464141; margin-bottom: 1.5rem; }

.bmi-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  text-align: left;
}

label { display: block; margin-bottom: 0.5rem; font-weight: bold; }

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #836c6c;
  border-radius: 6px;
  box-sizing: border-box; 
}

button {
  background-color: #b14141;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

button:hover { background-color: #660404; }

.result-display h2 { color: #ac1a1a; font-size: 2.5rem; margin: 10px 0; }
.category { font-style: italic; color: #a70505; margin-bottom: 20px; }
.reset-btn { background-color: #943131; margin-top: 10px; }
