
.bmi-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
   padding: 30px 16px;
  font-family: "Poppins", Arial, sans-serif;
  background: linear-gradient(135deg, #ffb3b6, #ffd6c9);
}

.bmi-card {
  width: 100%;
  max-width: 440px;
  background: rgba(255, 255, 255, 0.3);
  padding: 32px 28px 36px;
  border-radius: 28px;
  text-align: center;

  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.35);

  box-shadow:
    0 25px 60px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

h1 {
  color: #3a1f1f;
  font-weight: 600;
  margin-bottom: 12px;
}

.bmi-text {
  font-size: 0.95rem;
  color: #5c2a2a;
}

.bmi-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: left;
}

.input-group label {
  font-size: 0.85rem;
  color: #5c2a2a;
}

.input-group input {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.7);
  outline: none;
}

.input-group input:focus {
  border-color: #b14141;
}

button {
  background: #b14141;
  color: white;
  padding: 12px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.25s ease;
}

button:hover {
  background: #7a1f1f;
  transform: translateY(-2px);
}

.reset-btn {
  margin-top: 18px;
}

.result-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.result-display h2 {
  font-size: 3rem;
  color: #b14141;
}

.category {
  font-style: italic;
  color: #6d1e1e;
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  margin-top: 1px;
}

.image-frame {
  background: rgba(255,255,255,0.4);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.image-frame img {
  width: 180px;
  border-radius: 16px;
}

.dialogue-bubble {
  max-width: 260px;
  background: rgba(255,255,255,0.75);
  padding: 14px 18px;
  border-radius: 18px;
  text-align: center;
  position: relative;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.dialogue-bubble::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: rgba(255,255,255,0.75) transparent transparent transparent;
}